@model CST323Milestone.Models.UsersLoginModel

<div>
    <p>Your username and/or password was incorrect. Please try again.</p>
</div>

<div>
    <button class="btn btn-info" onclick="retrylogin()">Retry</button>
</div>
<a href="c:\users\damienpadilla\source\repos\cst323milestone\cst323milestone\views\login\_loginfailure.cshtml">c:\users\damienpadilla\source\repos\cst323milestone\cst323milestone\views\login\_loginfailure.cshtml</a>