@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to </h1>
</div>

<div class="center-div">
    <img src="~/img/yourjetskiourspotlightlogo.jpg" width="300" height="300" align="middle" />
</div>

<div class="text-center">
    <p>Log in or register an account to access our extremely cool JetSki catalog.</p>
</div>
